20191128

#LOC
// 不同数据可能要改的部分，注意：不要删除空行
#NAME
ACQ_name:"20200102_1.txt"
staic_name:"Loc20200803_1.txt"
TLE_NAME:"20200102S.tle"

//sgp4io.h 注意：输入BJT时间！
#TIME
syear:2020
smonth:1
sday:2
shour:13
sminute:23
ssecond:6.605
pyear:2020
pmonth:1
pday:2
phour:13
pminute:54
psecond:0.0
time_step:1

#POS
loc_x:-2171735.22
loc_y:4385978.71
loc_z:4076262.57
loc_x_ini:-2170000
loc_y_ini:4380000
loc_z_ini:4070000

#FLAG
Assistant_High:3
pos_iter:50

//注意：务必在pos_iter下面空一行！