20191025

#LOC
// 不同数据可能要改的部分，注意：不要删除空行
#NAME
ACQ_name:"eli_getridof_point_result.txt"
staic_name:"randomtest.txt"
TLE_NAME:"No4_4H.tle"

//sgp4io.h 注意：输入BJT时间！
#TIME
syear:2019
smonth:10
sday:9
shour:22
sminute:56
ssecond:55.646
pyear:2019
pmonth:10
pday:9
phour:23
pminute:27
psecond:0.0
time_step:1

#POS
loc_x:-2171487
loc_y:4386094
loc_z:4076295
loc_x_ini:-2170000
loc_y_ini:4380000
loc_z_ini:4070000

#FLAG
Assistant_High:1
pos_iter:50

//注意：务必在pos_iter下面空一行！