20200904

#LOC
// 不同数据可能要改的部分，注意：不要删除空行
#NAME
ACQ_name:"20200904A_5R_MOD.txt"
staic_name:"Loc20200904B_4.txt"
TLE_NAME:"20200904B.tle"

//sgp4io.h 注意：输入BJT时间！
#TIME
syear:2020
smonth:9
sday:4
shour:18
sminute:48
ssecond:22.663
pyear:2020
pmonth:9
pday:4
phour:19
pminute:19
psecond:0.0
time_step:1

#POS
loc_x:-2171833.42
loc_y:4385950.45
loc_z:4076246.44
loc_x_ini:-2170000
loc_y_ini:4380000
loc_z_ini:4070000

#FLAG
Assistant_High:3
pos_iter:50

//注意：务必在pos_iter下面空一行！