20191128

#LOC
// 不同数据可能要改的部分，注意：不要删除空行
#NAME
ACQ_name:"20200902_2R.txt"
staic_name:"Loc20200902B_1.txt"
TLE_NAME:"20200902B.tle"

//sgp4io.h 注意：输入BJT时间！
#TIME
syear:2020
smonth:9
sday:2
shour:17
sminute:28
ssecond:2.831
pyear:2020
pmonth:9
pday:2
phour:17
pminute:44
psecond:0.0
time_step:1

#POS
loc_x:-2171824.87
loc_y:4385918.54
loc_z:4076294.62
loc_x_ini:-2170000
loc_y_ini:4380000
loc_z_ini:4070000

#FLAG
Assistant_High:3
pos_iter:50

//注意：务必在pos_iter下面空一行！